#calculator {
	display: grid;

	width: 320px;
	height: 385px;

	grid-template-areas:
		"out out out out"
		"clearall backspace divide times"
		"btn-7 btn-8 btn-9 minus"
		"btn-4 btn-5 btn-6 plus"
		"btn-1 btn-2 btn-3 equals"
		"btn-0 btn-0 btn-dot equals";

	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);

	margin-bottom: 60px;
	border: 1px solid #555;
	border-radius: 10px;
	background: #eee;
	padding: 10px;

	box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.4);
}

.equals {
	grid-area: equals;
	height: 110px !important;
}

.number-btn,
.operand,
.backspace,
.clear-all {
	width: 70px;
	height: 50px;
	margin: 5px;

	font-size: 22px;

	border: 1px solid #ccc;
	border-radius: 5px;

	box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

#output-wrapper {
	grid-area: out;

	border: 1px solid black;
	border-radius: 5px;
	background: white;

	width: 310px;
	height: 75px;
	margin: 5px;
	padding: 5px;
	box-sizing: border-box;

	text-align: right;
}

#output-calculation-string {
	display: inline-block;
	width: 100%;
	height: 20px;
	overflow: hidden;
}

#output-field {
	width: 100%;
	height: 40px;
	font-size: 40px;
}

.number-btn.btn-0 {
	width: 150px;
}

/**/
.number-btn {
	background: white;
}
.number-btn:hover {
	background: #ccc;
}

/**/
.operand {
	background: skyblue;
}
.operand:hover {
	background: rgb(105, 182, 212);
}

/**/

.backspace {
	background: salmon;
}
.backspace:hover {
	background: rgb(212, 109, 97);
}

/**/
.clear-all {
	background: rgb(255, 71, 71);
}
.clear-all:hover {
	background: rgb(204, 0, 0);
}
