.game-container {
	width: 500px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 7px;
	box-sizing: border-box;
	padding: 15px;
}

#button-panel {
	display: flex;
	justify-items: space-around;
}

.choice-button {
	flex: 1;
	height: 40px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: rgb(48, 48, 204);
	color: white;

	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
	cursor: pointer;

	transition: 0.3s ease;
}

.choice-button:hover {
	background: rgb(37, 37, 155);
}

.choice-button:active {
	background: rgb(24, 24, 112);
}

.choice-button:disabled {
	background: #777;
}

#output-container {
	display: flex;
	height: 150px;
	width: 100%;

	align-items: center;
	justify-content: center;
	font-size: 30px;
}
.increasing-text-size {
	/* Animation code */
	-webkit-animation-name: fadeAndScale; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */

	transform-origin: 50% 100%;

	animation-name: fadeAndScale;
	animation-duration: 1s;
}

@keyframes fadeAndScale {
	from {
		opacity: 0;
		font-size: 0px;
	}
	to {
		opacity: 1;
		font-size: 30px;
	}
}
