* {
	margin: 0 auto;
	padding: 0;

	--dark_green: rgb(9, 138, 9);
	--light_green: rgb(64, 163, 64);
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
p {
	line-height: 25px;
}
.grid-wrapper {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 80px 1fr 80px;
}

.site-header,
.site-content,
.site-footer {
	width: 100%;
	box-sizing: border-box;
}

.site-header {
	grid-area: header;
	background: var(--dark_green);
}

.site-content {
	grid-area: main;
	max-width: 1000px;
	padding: 30px;
}

.site-footer {
	grid-area: footer;
	background: #ccc;
}

.site-header nav {
	height: 100%;
	line-height: 80px;
	padding: 0 20px;
}

.nav-link {
	display: inline-block;
	color: white;
	padding: 0 30px;
	height: 100%;
	text-decoration: none;
	font-size: 1.1rem;
}

.nav-link:hover {
	background: var(--light_green);
}

.site-content section {
	h1 {
		margin-bottom: 15px;
	}

	div.task-section_output {
		margin-top: 15px;
	}

	ul {
		margin-left: 25px;
		margin-bottom: 25px;
	}
}

.task-container {
	.task-description,
	h2,
	h3,
	h4 {
		margin-bottom: 15px;
	}
}

.task-button {
	width: 100%;
	background: #333;
	color: white;
	font-size: 16px;
	padding: 15px;
	text-align: left;
	border: 1px solid #ccc;
}

.closed::before {
	margin-right: 15px;
	content: "⯈";
}

.open::before {
	margin-right: 15px;
	content: "⯆";
}

.task-container {
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 20px;
}
.hidden {
	display: none;
}

.visible {
	display: block;
}
